<!DOCTYPE html>
<html>
<head>  
    <title> Self Project</title>
    
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ng-app='personApp'>
    <div ng-controller="formctrl">
        <record> </record>
        
        </div>
        
        
        <script type='text/javascript' src="/node_modules/angular/angular.js"></script>
        
        <script type='text/javascript' src="/js/personApp.js"></script>
        
        <script type="text/javascript" src="/js/services/data.js"></script>
        
        <script type="text/javascript" src="/js/controllers/formctrl.js"></script>
        
        <script type="text/javascript" src="/js/directives/formdir.js"></script>
    </body>

</html>

